body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  background: #f4f5f7;
  display: flex;
}

/* Sidebar */
#sidebar {
  width: 260px;
  background: #0747a6;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  overflow-y: auto;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
}

#sidebar h2 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}

#sidebar a {
  display: block;
  padding: 8px 4px;
  margin: 5px 0;
  text-decoration: none;
  color: #dfe6f1;
  font-size: 15px;
  border-radius: 4px;
}

#sidebar a.submenu {
  padding-left: 30px; /* recuo do texto */
  font-size: 14px; /* menor um pouco, se quiser destacar como subitem */
  color: #c7d4ec; /* cor ligeiramente mais clara */
}

#sidebar a.submenu:hover {
  background: #0052cc;
  color: #ffffff;
}

#sidebar a:hover {
  background: #0052cc;
  color: #ffffff;
}

/* Content */
#content {
  margin-left: 310px; /* 260 + 50 de padding total */
  padding: 40px;
  max-width: 900px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #172b4d;
  border-bottom: 3px solid #0052cc;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

p,
li {
  font-size: 18px;
  line-height: 1.6;
  color: #172b4d;
  text-align: justify;
}

.section-block {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
